nav {
    display:flex;
    justify-content: space-between;
    width: 100%;
    color: #d44500
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

footer {
    background-color: #000d4d;
    width: 100%; 
    display:flex; 
    justify-content:space-around;
    color: white 
}

h1 {
    font-size: 35px;
    text-align: center;
    color: #d44500;
    display-1
}

h2 {
    font-size: 25px;
    text-align:center;
    color: #d44500;
}

h3 {
    font-size: 16px;
    color: #d44500;
}


.headerimg {
    width: 100%;
    height: auto;
}

.flex-container {
    display:flex; 
    justify-content:space-around; 
    flex-direction:row;
}

.explainer {
    color:#d44500;
    flex:1;
    margin: 10px;
}
.explainer img {
    width:100%
}

.description {
    margin: 30px;
}

p {
    color:black;
}

article ul {
    color: black;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: #d44500;
}

article a {
    color: #d44500;
}

@media only screen and (max-width: 780px) {
    nav {
        flex-direction:column;
    }
  }
