body{
    color: #F8B195;
    font-family: "Palatino";
    font-size: 11px;
    background-color: #fffaf1;
}

h1{
    color: #F67280;
    font-size: 30px;
    text-align: center;
}

h2{
    color: #355c7d;
    font-size: 16px;
}

h3{
    color: #F67280
}