body{
  color:#f6c126;
  font-family: "Tahoma", sans serif;
  font-size: 12px;
  background-color: whitesmoke;
}

h1{
  color:whitesmoke;
  font-family: "Georgia";
  background-color: #f6c126;
  text-align: center
}